body {
  margin: 0;
  font-family: Nunito Sans, Arial;
  position: relative;
}
body * {
  max-width: 1440px;
  margin: 0 auto;
}
.projects {
  background-color: black;
  height: 783px;
  width: 1440px;
  position: relative;
}
.projects-container {
  background-size: cover;
  margin-left: 134px;
}
.projects-navig {
  list-style: none;
  display: flex;
  padding-top: 107px;
  margin-left: 492px;
}
.projects-navig_item {
  margin-right: 60.5px;
}

.projects-navig_item a {
  text-decoration: none;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}
.projects-navig_item a:hover, .projects-navig_item a:active {
color: #E3B873;
text-decoration-line: underline;
}

.container_projects_2 {
  width: 442px;
  margin-left: 0px;
  position: absolute;
}
.title_h2 {
  width: 253px;
  /*height: 66px;*/
  font-family: Yeseva One, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  letter-spacing: -0.07em;
  color: #E3B873;
  margin-left: 0;
}
.p_h2-container {
  width: 442x;
  height: 86px;
  position: absolute;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 34px;
}
.vid-container {
  margin-top: 162px;
  display: flex;
  flex-direction: row;
}
.vid-container2 {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}
h3 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}
.span_h3 {
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}
.span_h4 {
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}
.span_h5 {
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}
.city {
  margin-left: 0px;
}
.time {
  margin-left: 0px;
  margin-top: 34px;
}
.cost {
  margin-left: 0px;
  margin-top: 34px;
}
.apartment {
  margin-left: 0px;
}

.slider {
  position: relative;
  margin: 20px 0;
}
.slider__images {
  /*background-image: url('../images/image1.jpg');*/
  background-size: cover;
  position: relative;
  height: 482px;
  width: 679px;
  margin-left: 492px;
}
.slider__images-title {
position: absolute;
left: 0;
bottom: 0;
width: 100%;
background: rgba(0,0,0,0.5);
color: #fff;
text-align: center;
z-index: 1;
padding: 7px 0;
}
.slider__images .image {
background-size: cover;
background-position: center center;
height: 482px;
width: 679px;
display: block;
left: 0;
top: 0;
opacity: 0;
transition: opacity 1s ease-in-out;
position: absolute;
}

.slider__images .image.active {
opacity: 1;
}

.projects-3 {
  margin-top: 53px;
  display: flex;
  flex-direction: row;
}

.slider__arrows {
position: absolute;
  display: flex;
  width: 305px;
  height: 20px;
  margin-left: 27px;
  margin-top: -6px;
  color: #fff;
}

.slider__arrow {
position: absolute;
font-size: 20px;
text-align: center;
cursor: pointer;
transition: opacity 0.4s ease;
display: flex;
align-items: center;
justify-content: center;
}
.slider__arrow:hover {
opacity: 1;
}

.slider__arrow.left {
left: 0;
}

.slider__arrow.right {
right: -27px;
}
.slider__dots {
display: flex;
position: absolute;
left: 0;
padding-left: 150px;
width: 100%;
}

.slider__dots-item {
width: 10px;
height: 10px;
background: #ccc;
border-radius: 50%;
margin: 0 5px;
cursor: pointer;
transition: background 0.4s ease;
}

.slider__dots-item:hover, .slider__dots-item.active {
background: rgb(80, 78, 78);
}
